@model IEnumerable<DigitopiaQuest.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book Page</h1>

<p>
    <a asp-action="Create">New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorOfBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RelieseDateOfBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingOfBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageOfBook)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorOfBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelieseDateOfBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingOfBook)
            </td>
            <td>
                <img src="data:image/jpg;base64,@(item.ImageOfBook?.Length > 0 ? Convert.ToBase64String(item.ImageOfBook) : "")" alt="Book Image" style="width: 100px; height: 70px;" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete selected book?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
