@model DigitopiaQuest.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionOfGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionOfGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDateOfGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDateOfGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreOfGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreOfGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Developer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Developer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DevCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DevCompany)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
